
body {
    margin: auto;
    padding-bottom: 10%;
    background-color: #e6e6e6;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #242424;
    animation: fadeIn 1.5s;
}
      
.center {
    text-align: center;
    border: 5px solid #242424;
    padding: 50px;
    border-radius: 3px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.center1 {
    text-align: center;
    border: 5px solid #242424;
    padding: 50px;
    border-radius: 3px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    width: 50%;
    margin: auto;
}

h1 {
    color: #242424;
}

p {
    color: #242424;
}

a {
    text-decoration: none;
    color: #242424c7;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

a:hover {
    color: #242424;
}

.soon {
    font-size: xx-large;
    font-weight: bold;
    line-height: 0.2;
}

.main {
    line-height: 0.2;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }

.JS {
    font-style: italic;
}

.Kontakt {
    text-align: left;
    text-indent: 20px;
}

.screen {
    max-width:100%;
    max-height:100%;
    border: 3px solid #242424;
    border-radius: 2px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 600px) {
    .main {
        line-height: normal;
    }

    .Kontakt {
        font-size: small;
    }
}
